/*-- scss:defaults --*/

// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Noto+Serif+Gujarati&family=Raleway:wght@100;400;700&display=swap');

// Colors
$light-teal: #68b0ac;
$dark-teal: #243235;
$light-gray: #F8F8F8;
$gray: #212121;
$mid-gray: #b9bdbe;

// Base Document Colors 
$navbar-bg: $dark-teal;
$navbar-fg: $mid-gray;
$body-bg: $light-gray;
$link-color: $light-teal;

/*-- scss:rules --*/

h1, h3 {
  letter-spacing: 1px;
  font-weight: 700;
  color: $gray;
}

.title {
  color: $mid-gray;
}

.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  color: $gray;
}
  
.gray-bg {
  background-color: rgba(166, 164, 161, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

  img.custom-banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  
  
